:root {
    --main-background-color: #000000;
    --secondary-background-color: #0b0b0b;
    --auth-window-background: #080808;
    --main-text-color: #ffffff;
    --secondary-text-color: #a1a1a1;
    --input-field-background: #141414;
    --main-block-color: #080808;
    --main-button-color: #1c1c1c;
    --productcard-background-color: #080808;
    --scrollbar-track-color: rgb(16, 16, 16);
    --scrollbar-thumb-color: rgb(5, 5, 5);
}